 header {
    padding: 0px 50px 0px 50px;
    height: 50px;
} 
header .left-corner{
    float: left;
}

header .right-corner{
    float: right;
}
main{
text-align: center;
}

main p{
    padding-top: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}


/* #optionsAnswerContainer */
body #container {
 
    margin-left: 250px;
    height: 250px;
    width: 500px;
    display: flex;
    flex-direction: column;
  
}

div.box{
    border-color: white;
    border-style: solid;
    background-color:rgb(189, 128, 189);
    cursor: pointer;
}

h4.resultAnswer{
      border-top: solid grey;
}